body {
	background: white;
}

.grid-container {
	display: grid;
	grid-template-columns: auto auto auto;
	grid-template-rows: 200px 300px 200px;
	grid-gap: 20px 20px;
}

    .grid-item {
      background-color: pink;
      border: 1px solid black;
      filter:invert(50%)
    }
#item-1 {
	background: yellow;
    grid-column-start: 2;
  	grid-column-end: 3;
  	grid-row-start: 2;
  	grid-row-end: 3; 
  	filter:invert(100%)      
}